body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;

}

.main {
    margin: 5px solid rgb(4, 12, 4);
    background-color: #fff;

}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}


.Header {
    text-align: center;
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.container-2 {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container-2 li {
    font-family: 'Times New Roman', Times, serif;
}

.container-3 {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50px;

}

.container-3 h3 {
    color: white;
    font-size: medium;
}